<!DOCTYPE html>
<html>
  <head>
    <title>Klothes With Klossy</title>
     <!link rel="stylesheet" href="css/style.css">
     <script src = "quiz.rb"></script> 
  </head>
  
  <body>
    <h1>Klothes With Klossy</h1>
    <h2>quiz</h2>
    <form id = "quiz" name = "quiz">
      <p> What is the occasion?</p>
      <input type="radio" name="occasion" value="male" checked> Formal<br>
      <input type="radio" name="occasion" value="male" checked> Casual<br>
      
      <p> What is the weather?</p>
      <input type="radio" name="weather" value="male" checked> hot<br>
      <input type="radio" name="weather" value="male" checked> cold<br>
       <input type="radio" name="weather" value="male" checked> warm<br>
      
      <p> What look are you going for?</p>
      <input type="radio" name="gender" value="male" checked> Masculine<br>
      <input type="radio" name="gender" value="male" checked> Feminine<br>
      
      
    <!--<button type="button">Get your outifts!!</button>-->
    
    <input id = :button type = "button" value = "Get your outfits!!" onclick = "check();">
      
      
      
      
    </form>
    </body>
  </html> 